@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-content {
    font-family: Arial, Sans-Serif;
    background-image: url("https://media.istockphoto.com/id/1285308242/photo/to-do-list-text-on-notepad.jpg?s=612x612&w=0&k=20&c=p85bCVQZwvkrqqqNOJGg2QuPDu6ynTlQHkASQOTELh8=");
    width: 100vw;
    height: 100vh;
    background-size: cover;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.head {
    margin-bottom: 30px;
    color: black;
    font-size: 50px;
    font-style: italic;
    font-family: Monospace;
    font-weight: bold;
}

.matter-form {
    display: flex;
    margin-bottom: 20px;
}

.form-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.button-of-form {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: bold;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
}

li button {
    margin-left: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}